{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.njk"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
