---
title: Topics
description: Every topic our decision records are tagged with
permalink: /topics/
eleventyExcludeFromCollections: true
---

<h1>{{ title }}</h1>
<p class="page-description">{{ description }}</p>

<table class="index-table">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Decisions</th>
      <th>Practice Areas</th>
    </tr>
  </thead>
  <tbody>
    {%- for topic in collections.topics %}
      {%- set adrs = collections.adrs | withTopic(topic.label) %}
      {%- set areas = [] %}
      {%- for adr in adrs %}
        {%- if adr.data.practiceArea and adr.data.practiceArea not in areas %}
          {%- set areas = (areas.push(adr.data.practiceArea), areas) %}
        {%- endif %}
      {%- endfor %}
      <tr>
        <td>
          <a href="/topics/{{ topic.label | slugify }}/">{{ topic.label }}</a>
        </td>
        <td>{{ topic.count }}</td>
        <td>
          <div class="tags">
            {%- for area in areas %}
              <a class="tag" href="/practice-areas/{{ area | slugify }}/"
                >{{ area }}</a
              >
            {%- endfor %}
          </div>
        </td>
      </tr>
    {%- endfor %}
  </tbody>
</table>
