/* Prism also marks up HTML tags in code blocks as .token.tag. */
.tag:not(.token) {
  display: inline-flex;
  align-items: center;
  padding: var(--space-1) var(--space-2);
  background-color: var(--color-bg-secondary);
  border-left: 1px solid var(--color-border-default);
  border-radius: 0 var(--radius-md) var(--radius-md) 0;
  box-shadow: var(--shadow-subtle);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  line-height: var(--line-height-sm);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--color-text-tertiary);
  white-space: nowrap;
}
